@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.page-light {
  background: #f9f6f1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 160px;
}

.nav {
  display: flex;
  list-style-type: none;
  gap: 35px;
}
.nav-link {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: #212121;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 30px;
  gap: 15px;
}
.cart-count {
  width: 46px;
  height: 17px;
  background-image: url(/img/cart-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #fff;
  padding-left: 25px;
  margin-top: 6px;
  padding-top: 5px;
}

.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 133px;
}
.main .sale-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.02em;
  color: #000;
  margin-bottom: 35px;
}
.main .sale-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 55px;
  letter-spacing: 0.04em;
  color: #000;
  margin-bottom: 55px;
}

.btn {
  background-color: #d7b399;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  padding: 18px 30px;
}
.btn-xs {
  padding: 5px 30px;
}
.btn-center {
  padding: 18px 35px;
}
.btn-center span {
  margin-right: 9px;
}

.box {
  position: relative;
}
.box-price {
  position: absolute;
  right: 0;
  top: 0;
}
.box-price-old {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: line-through;
  text-align: right;
  color: #000;
  margin-bottom: 14px;
}
.box-price-new {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 42px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: right;
  color: #d84033;
}

.page-dark {
  background-color: #212121;
  padding-top: 80px;
  padding-bottom: 69px;
  align-items: center;
}

.notice {
  text-align: center;
}
.notice-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 23px;
}
.notice-title span {
  font-weight: 700;
}
.notice-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 21px;
  text-align: center;
  color: #fff;
}

.collection {
  display: flex;
  justify-content: space-between;
}
.collection-man {
  padding: 60px 0;
  flex: 0 0 50%;
  background-image: url(/img/man.png);
  background-repeat: no-repeat;
  background-size: 190px 171px;
  background-position: right bottom;
}
.collection-woman {
  padding: 60px 0;
  flex: 0 0 50%;
  background-image: url(/img/woman.png);
  background-repeat: no-repeat;
  background-size: 190px 171px;
  background-position: right bottom;
}
.collection-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #000;
  margin-bottom: 25px;
}
.collection-title span {
  font-weight: 500;
}
.collection-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
  margin-bottom: 35px;
}

.products {
  padding-top: 150px;
  padding-bottom: 152px;
}

.title-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
  margin-bottom: 100px;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 100px;
}
.product-item {
  flex: 0 0 24%;
  position: relative;
}
.product-item:before, .product-item:after {
  content: "";
  display: block;
  width: 100%;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
}
.product-item:before {
  background-image: url("/img/item-top.svg");
}
.product-item:after {
  background-image: url("/img/item-bottom.svg");
}
.product__img {
  max-width: 100%;
  height: auto;
  margin-bottom: 25px;
}
.product-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-bottom: 15px;
}
.product-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #d7b399;
}

.btn-product {
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
}
.footer-logo {
  width: 201px;
}
.footer-nav {
  width: 692px;
  display: flex;
  justify-content: space-between;
}
.footer-list {
  list-style-type: none;
}
.footer-list-link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #cbcfd4;
}
.footer-list-link:not(:last-child) {
  margin-bottom: 10px;
}
.footer-list-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 10px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}
.footer-list-item--vk {
  padding-left: 29px;
  background-image: url("/img/vk.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-list-item--fb {
  padding-left: 29px;
  background-image: url("/img/fb.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-list-item--inst {
  padding-left: 29px;
  background-image: url("/img/inst.svg");
  background-repeat: no-repeat;
  background-position: left center;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  color: #212121;
  padding: 30px 0;
}/*# sourceMappingURL=style.css.map */