$cream: #f9f6f1;
$accent: #d7b399;
$black: #212121;
$font-family: "Montserrat", sans-serif;
$second-family: "FontAwesome", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  height: 100%;
}

body {
  margin: 0;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.page-light {
  background: $cream;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 160px;
}

.nav {
  display: flex;
  list-style-type: none;
  gap: 35px;

  &-link {
    text-decoration: none;
    font-family: $font-family;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: $black;
  }
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 91px;
  height: 30px;
  gap: 15px;
  &-count {
    width: 46px;
    height: 17px;
    background-image: url(/img/cart-bg.svg);
    background-repeat: no-repeat;
    background-position: center center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.03em;
    color: #fff;
    padding-left: 25px;
    margin-top: 6px;
    padding-top: 5px;
  }
}

.main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 133px;
  .sale {
    &-description {
      font-family: $font-family;
      font-weight: 400;
      font-size: 30px;
      letter-spacing: 0.02em;
      color: #000;
      margin-bottom: 35px;
    }
    &-title {
      font-family: $font-family;
      font-weight: 700;
      font-size: 55px;
      letter-spacing: 0.04em;
      color: #000;
      margin-bottom: 55px;
    }
  }
}

.btn {
  width: 240px;
  height: 55px;
  background-color: $accent;
  font-family: $font-family;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #fff;
  text-decoration: none;
  padding: 18px 30px;
}

.box {
  position: relative;
  &-price {
    position: absolute;
    right: 0;
    top: 0;
    &-old {
      font-family: $font-family;
      font-weight: 700;
      font-size: 24px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      text-decoration: line-through;
      text-align: right;
      color: #000;
      margin-bottom: 14px;
    }
    &-new {
      font-family: $font-family;
      font-weight: 700;
      font-size: 42px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      text-align: right;
      color: #d84033;
    }
  }
}

.page-dark {
  background-color: $black;
  padding-top: 80px;
  padding-bottom: 69px;
  align-items: center;
}

.notice {
  text-align: center;
  &-title {
    font-family: $font-family;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 23px;
    span {
      font-weight: 700;
    }
  }
  &-description {
    font-family: $font-family;
    font-weight: 300;
    font-size: 21px;
    text-align: center;
    color: #fff;
  }
}
